<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:output
        method="xml"
        omit-xml-declaration="no"
        encoding="UTF-8"
        standalone="yes"
        indent="yes" />

    {#- Flattens the potentially hierachical source xml document. Including only the required elements. #}

    <xsl:template match="/">
        <xsl:element name="data">
            <xsl:apply-templates select="{{ mapping.source.data_file.query.xpath }}" />
        </xsl:element>
    </xsl:template>

    <xsl:template match="{{ mapping.source.data_file.query.xpath }}">
        <xsl:element name="record">
        {%- for item_mapping in mapping.data_items if (item_mapping.source.type == 'xpath') %}
            <xsl:apply-templates select="{{ item_mapping.source.xpath }}" mode="get_element" />
        {%- endfor %}
        </xsl:element>
    </xsl:template>
    {% for item_mapping in mapping.data_items if (item_mapping.source.type == 'xpath' and item_mapping.source.xpath.split('/')[-1] != item_mapping.target.column) %}
    <xsl:template match="{{ item_mapping.source.xpath.split('/')[-1] }}" mode="get_element">
        <xsl:element name="{{ item_mapping.target.column }}">
            <xsl:value-of select="." />
        </xsl:element>
    </xsl:template>
    {% endfor %}
    <xsl:template match="*" mode="get_element">
        <xsl:copy>
            <xsl:value-of select="." />
        </xsl:copy>
    </xsl:template>
</xsl:stylesheet>
